
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 210px;
  position:absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background:royalblue;
  overflow-x:hidden;
  padding: 6px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:ghostwhite ;
  display: block;
}

.sidenav a:hover {
  color:#064579;
}

.dropdown-content{
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float:none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.main {
  margin-left: 240px; /* Same width as the sidebar + left position in px #2196F3*/
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 25px;}
  .sidenav a {font-size: 18px;}
}

table{
  border:1px solid black;
  border-collapse: collapse;
  width: 100%;
}
th,td{
  border:1px solid black;

  text-align: left;
  padding: 8px;
}
tr:nth-child(even){
  background-color: rgb(240, 175, 101);
}