{%load static %}
<!DOCTYPE html>
<html>
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">

<title>Misc Expense</title>
</head>
<body>
    <div class="sidenav">
        <ul>
            <li><a href="{% url 'new' %}">Create Account</a></li>
            <li><a href="{% url 'expensetype' %}">Create Expense Type</a></li>
            <li><a href="{% url 'dept' %}">Create Departments</a></li>
            
            <li><a href="">Expense</a>
               <ul>
                   <li><a href="{% url 'itemexpense' %}">Item Expenses</a></li>
                   <li><a href="{% url 'hrexpense' %}">HR Expenses</a></li>
                   <li><a href="{% url 'miscexpense' %}">Misc Expenses</a></li>
               </ul>
            </li>
            <li><a href="{% url 'table' %}">Table</a></li>

            <li><a href="{% url 'index' %}">Logout</a></li>

            </ul>
       
    
    </div>
    <div class="main">

    <h1>Create New MISC Expense</h1>

    <!--table-->
    <div class="body">
        <form action="/miscexpense" method="POST" class="form-horizontal">
            {% csrf_token%}
        
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="tid">Transaction ID</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input name="tid" type="text"  id="tid" class="form-control"
                        placeholder="Enter Transaction ID">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="date"> Date</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input name="date" type="text"  id="date" class="form-control"
                        placeholder="Enter date">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="etype"> Expense Type</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input name="etype" type="text"  id="etype" class="form-control"
                        placeholder="enter Expense Type">
                </div>
            </div>
        </div>
    </div>
  
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="purp"> Purpose</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input name="purp" type="text"  id="purp" class="form-control"
                        placeholder="Enter purpose">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="amt"> Amount</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input name="amt" type="text"  id="amt" class="form-control"
                        placeholder=" Enter Amount">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="pacc"> Paid From Account</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input name="pacc" type="text"  id="pacc" class="form-control"
                        placeholder=" Enter Paid Account Number">
                </div>
            </div>
        </div>
    </div>

<br>
   <center>
    <button type="submit" class="btn btn-success m-t-15 waves-effect"> Submit</button>
    <button type="submit" class="btn btn-success m-t-15 waves-effect"> Cancel</button>

</center>
    <table>
        <thead>
        <tr>
            <th>Tid</th>
            <th>Date</th>
            <th>Expense Type</th>
            <th>Purpose</th>
            <th>Amount</th>
            <th>Paid from Account</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr>
            {% for i in var6 %}
            <td>{{i.tid}}</td>
            <td>{{i.date}}</td>
            <td>{{i.etype}}</td>
            <td>{{i.purp}}</td>
            <td>{{i.amt}}</td>
            <td>{{i.pacc}}</td>
            <td><ul><a href="miscexpenseedit/{{i.id}}"> Edit</a></ul>
                <ul><a href="miscexpensedelete/{{i.id}}"> Delete</a></ul>
               </td>
           
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>