{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">


<title>Create New Account</title>
    </head>
    <body>
        <div class="sidenav">
            <ul>
                <li><a href="{% url 'new' %}">Create Account</a></li>
                <li><a href="{% url 'expensetype' %}">Create Expense Type</a></li>
                <li><a href="{% url 'dept' %}">Create Departments</a></li>
                
                <li><a href="">Expense</a>
                   <ul>
                       <li><a href="{% url 'itemexpense' %}">Item Expenses</a></li>
                       <li><a href="{% url 'hrexpense' %}">HR Expenses</a></li>
                       <li><a href="{% url 'miscexpense' %}">Misc Expenses</a></li>
                   </ul>
                </li>
                <li><a href="{% url 'table' %}">Table</a></li>

                <li><a href="{% url 'index' %}">Logout</a></li>

                </ul>
        
        </div>
        <div class="main">

        <h1>Edit New Account</h1>
        <!--Form-->
        <div class="body">
            <form action="/newupdate/{{stu.id}}" method="POST" class="form-horizontal">
                {% csrf_token%}
            
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="numm">Account number</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="numm" type="text"  id="numm" value="{{stu.numm}}"class="form-control"
                            placeholder="account number eg(101010101)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name"> Account Name</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="name" type="text"  id="name" value="{{stu.name}}"class="form-control"
                            placeholder=" name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="description"> Description</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="description" type="text"  id="description" value="{{stu.description}}"class="form-control"
                            placeholder=" description">
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="atype">Account type</label>
               




                
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <select name="atype" id="atype">
                            <option value="loan">Loan</option>
                            <option value="savings">Savings-Bank</option>
                            <option value="current">Current-Bank</option>
                            <option value="cash">Petty Cash</option>
                            <option value="mwallet">Mobile Wallet</option>
                            <option value="upiwallet">UPI Wallet</option></select>
                        
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="bal"> Opening Balance</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="bal" type="text"  id="bal" value="{{stu.bal}}" class="form-control"
                            placeholder=" Opening balance">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="cbal"> Closing Balance</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input name="cbal" type="text"  id="cbal" value="{{stu.cbal}}" class="form-control"
                            placeholder=" Closing Balance">
                    </div>
                </div>
            </div>
        </div>
<br>
        <button type="submit" > Update</button>

        <br>


</div>

<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    </body>
</html>